@model Equipamento

@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid meu_container">
    <div class="row">
        <div class="col-md-12">
            <div class="cliente_imagem_titulo">
                <img src="~/images/computer.png" style="width:100%" />
            </div>
            <div class="cliente_titulo">
                <h2>Novo Equipamento</h2>
            </div>

        </div>
    </div>
</div>

<main>
    <form class="container-fluid" role="form" asp-action="Novo" method="post">

        <input type="hidden" id="hiddenFieldClienteId" asp-for="ClienteId" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="TipoEquipamento.Nome" class="control-label"></label>
                    <select asp-for="TipoEquipamentoId" asp-items="@(new SelectList(Model.TiposEquipamentos, "Id", "Nome"))" class="form-control">
                        <option>Selecione</option>
                    </select>
                    <span asp-validation-for="TipoEquipamentoId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="Marca" class="control-label"></label>
                    <input asp-for="Marca" class="form-control" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label asp-for="NumSerie" class="control-label"></label>
                    <input asp-for="NumSerie" class="form-control" />
                    <span asp-validation-for="NumSerie" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label asp-for="Cliente.Nome" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="btnBuscaCliente" class="btn btn-info">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                        <input id="nomeCliente" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control" cols="100" rows="3"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="modal fade" id="clientesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="delModalLabel">Buscar cliente</h4>
                            </div>
                            <div class="modal-body">
                                <div class="table table-responsive" style="display:block;">
                                    <div>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th style="color:White; background-color:#666666; white-space:nowrap">ID:</th>
                                                    <th style="color:White; background-color:#666666; white-space:nowrap">Nome:</th>
                                                    <th style="color:White; background-color:#666666; white-space:nowrap">Ação:</th>
                                                </tr>
                                                @foreach (var item in Model.Clientes)
                                                {
                                                    <tr class="linhas">
                                                        <td class="Id" style="white-space:nowrap;">@item.Id</td>
                                                        <td style="white-space:nowrap;">@item.Nome</td>
                                                        <td style="white-space:nowrap;">
                                                            <button data-id="@item.Id" data-nome="@item.Nome" class="btn btn-success btn-xs botoesDeSelecao">Selecionar</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>@*Linha do Modal*@

        <footer class="form-group">
            <button class="btn btn-success">GRAVAR</button>
        </footer>

    </form>
</main>


<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script src="~/js/equipamento_js/equipamentoNovo.js"></script>
}
